<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bootstrap.Datepicker" version="1.8.0.1" targetFramework="net472" />
  <package id="byMarc.Net2.WinLibrary.DataGridView.ThreadSafeLib" version="2017.818.0" targetFramework="net472" />
  <package id="GradientColorPicker" version="1.0.0" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.2.7" targetFramework="net472" />
  <package id="Krypton.Toolkit" version="6.2111.312" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.DataGridView" version="6.2112.340" targetFramework="net472" />
</packages>